.full-width-container {
  width: 100%;
  padding: 10px;
  margin: 0;
}

.DSS-table {
  margin-top: 80px;
  overflow: auto;
}
.DSS-table th {
  max-width: 200px;
}
.DSS-table tr > td:first-child {
  width: 200px;
}
.DSS-table tr > td:last-child {
  width: auto;
  background: rgb(245, 245, 245);
}
.DSS-table tr:nth-child(2):first-child {
  width: 200px;
}
.DSS-table tr:nth-child(2) > th:last-child {
  width: auto;
  background: rgb(245, 245, 245);
}
.DSS-table tfoot td:first-child {
  text-align: left;
  font-weight: 700;
}
.DSS-table tfoot > tr:nth-last-child(2) {
  background: rgb(245, 245, 245);
}

.alternatives-header {
  -ms-flex-line-pack: center;
      align-content: center;
}

.factors-header {
  text-align: left;
}

.priority__row td {
  background: #1AB3FF;
}

.priority__row__unactive {
  display: none;
}

.plus-button {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.alternatives-statistic-button {
  margin: 20px 0;
}